<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>

<% @questions.each do |q| %>
<div class="question_main">
	<div class="row">
		<div class="question_main_sub">
			<div class="col-xs-1">
			    <h3>質問者</h3>
				<% if q.user.image.file.nil? %>
				  <%= image_tag "default.jpg", size:"100x100" %>
				<% else %>
				  <%= image_tag q.user.image.to_s, size:"90x90" %>
				<% end %>
			</div>
			<div class="col-xs-3">
				<div class="time">
				  <p><%= q.created_at.strftime("%Y年%m月%d日 %H:%M") %></p>
				  <div class="question_secondary">
					  <% if user_signed_in? %>
						  <% if q.user.deleted_at.nil? %>
						    <%= link_to q.user.user_name,user_path(q.user.id) %>
						  <% else %>
						  <%= q.user.user_name %>
						    <P>退会済みユーザー</P>
						  <% end %>
					  <% else %>
					      <% if q.user.deleted_at.nil? %>
					        <%= q.user.user_name %>
					      <% else %>
						    <P>退会済みユーザー</P>
						  <% end %>
					  <% end %>
				  </div>
			    </div>
			</div>
		    <div class="col-xs-8">
				<h3>タイトル</h3>
				  <div class="question_index_title">
				  	<%= link_to q.title, question_path(q.id) %>
				  </div>
				  <div class="question_index_body">
				  	<p><%= q.question_content.truncate(83) %></p>
				  </div>
			</div>
		</div>
    </div>
</div>
<% end %>

<%= paginate @questions %>