<% if @question.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% @question.errors.full_messages.each do |question| %>
        <li><%= question %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="question_golbal">
	<h1>新規投稿</h1>
	<div class="question_new">
		<%= form_for(@question) do |f| %>

		    <h3>タイトル</h3>
		    <%= f.text_field :title, :value =>"", size: "150x5" %>

		    <h3>質問内容</h3>
		    <%= f.text_area :question_content, :value =>"", size: "150x10" %>

		    <p><%= f.submit '投稿', class: 'btn btn-primary btn-lg' %></p>

		<% end %>
	</div>
</div>