<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>

<div class="question_golbal">
	<h2>質問内容</h2>
	<div class="question_new">
		<div class="question_show_primary">
			<div class="row">
				<div class="col-xs-3">
					<h3>質問者</h3>
					<div class="question_user">
						<% if @question.user.image.file.nil? %>
						  <%= image_tag "default.jpg", size: "100x100" %>
						<% else %>
						  <%= image_tag @question.user.image.to_s, size:"100x100" %>
						<% end %>
					</div>
			    </div>

                <div class="col-xs-9">
		            <h3><%= @question.created_at.strftime("%Y年%m月%d日 %H:%M") %></h3>
					<div class="question_user_sub">
						 <% if @question.user.deleted_at.nil? %>
					       <%= link_to @question.user.user_name,user_path(@question.user.id) %>
					     <% else %>
					       <P>退会済みユーザー</P>
					     <% end %>
					</div>
			    </div>
			</div>

			<h3>タイトル</h3>
			<div class="queston_title">
			    <%= @question.title %>
			</div>

			<h3>質問内容</h3>
			<div class="question_body">
			    <%= @question.question_content %>
		    </div>
	    </div>
	</div>

    <h2>回答</h2>
    <div class="question_new">
	    <% @question.answers.each do |comment| %>
	        <div class="answer">
	        	<div class="row">
	        		<div class="col-xs-3">
					    <h3>回答者</h3>
					    <div class="answer_user">
					    	<% if comment.user.image.file.nil? %>
					    	  <%= image_tag "default.jpg", size: "100x100" %>
					    	<% else %>
						      <%= image_tag comment.user.image.to_s, size:"90x90" %>
						     <% end %>
						</div>
					</div>
					<div class="col-xs-9">
						<h3><%= comment.created_at.strftime("%Y年%m月%d日 %H:%M") %></h3>
						<div class="answer_user_sub">
						    <% if comment.user.deleted_at.nil? %>
						      <%= link_to comment.user.user_name,user_path(comment.user.id) %>
						    <% else %>
						      <P>退会済みユーザー</P>
						    <% end %>
						</div>
					</div>
				</div>
				<h3>回答内容</h3>
				<div class="answer_body">
					<%= comment.answer_content %>
				</div>
				<div class="admin">
					<div class="point">
						<% if comment.point != nil %>
						  <p>獲得ポイント <%= comment.point.point %> Points</p>
						     <p><%= comment.point.point_comment %></p>
						<% else %>
						     <p>ポイント付与までしばらくお待ちください</p>
						<% end %>
	                </div>
			    </div>
			</div>
		<% end %>
	</div>

    <h2>新規回答</h2>
    <div class="question_new">
    	<% if user_signed_in? %>
		  <%= form_for [@question, @answer] do |f| %>
		  <div>
		      <%= f.text_area :answer_content, class: "form-control", size:"30x15"%>
		  </div>
		  <%= f.submit "回答する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
		  <% end %>
		<% else %>
		  <div class="new_answer">
		  	<p>ログイン後回答いただけます</p>
		  	<%= link_to "会員登録", new_user_registration_path %>
            <%= link_to "ログイン", new_user_session_path %>
		  </div>
		<% end %>
	</div>
</div>