<div class="global">
  <h2>ユーザー編集</h2>
  <div class="primary">
    <%= form_for(@user) do |f| %>

        <div class="field">
        	<h3>画像</h3>
            <p><%= f.file_field :image %></p>
        </div>

        <div class="field">
        	 <h3>ニックネーム</h3>
        	<p><%= f.text_field :user_name %></p>
        </div>

        <div class="field">
             <h3>メールアドレス</h3>
            <p><%= f.email_field :email %></p>
        </div>

        <%= f.submit '完了', class: 'btn btn-primary btn-lg' %>
    <% end %>
  </div>
</div>