<div style="margin: 50px 100px">
	<h2>ユーザー情報</h2>
	<div style="padding-left: 50px">
		<% if @user.image.file.nil? %>
		    <%= image_tag "default.jpg", size: "200x200" %>
		<% else %>
		    <%= image_tag @user.image.to_s, size:"200x200" %>
		<% end %>

		<div style="font-size: 40px; display: inline-block; margin-left: 50px">
			<p>ニックネーム</p>
			<div style="margin-left: 50px">
				<%= @user.user_name %>
				<% if @user.id == current_user.id %>
				  <%= link_to "編集", edit_user_path, :class => "btn btn-success" %>
				  <%= link_to "退会", user_path(@user), method: :delete, :class => "btn btn-danger" %>
				<% end %>
			</div>
		</div>

		<div style="font-size: 25px; margin-bottom: 50px">
			<p>総ポイント数</p>
			<%= "#{@user.totle(@user.id)}pt" %>
		</div>

        <% if @user.id == current_user.id %>
		<div style="font-size: 25px; margin-bottom: 50px">
			<p>メールアドレス</p>
			<div style="margin-left: 50px">
				<p><%= @user.email %></p>
			</div>
		</div>
		<% end %>

        <div class="row">
			<div style="font-size: 25px">
				<div class="col-xs-6">
					<p>質問一覧</p>
					<% @user.questions.order(created_at: :desc).each do |q| %>
					<div style="margin-left: 50px">
						<%= link_to q.title, question_path(q.id) %>
					</div>
					<% end %>
			    </div>
			</div>

			<div style="font-size: 25px">
				<div class="col-xs-6">
					<p>回答した質問</p>
					<% @user.answers.order(created_at: :desc).each do |a| %>
					<div style="margin-left: 50px">
						<%= link_to a.question.title, question_path(a.id) %>
					</div>
					<% end %>
			    </div>
			</div>
	    </div>
	</div>
</div>