<div class="global">
	<h2>ユーザー情報</h2>
	<div class="primary">
		<% if @user.image.file.nil? %>
		    <%= image_tag "default.jpg", size: "200x200" %>
		<% else %>
		    <%= image_tag @user.image.to_s, size:"200x200" %>
		<% end %>

		<div class="main">
			<p>ニックネーム</p>
			<div class="secondary">
				<%= @user.user_name %>
				<% if @user.id == current_user.id %>
				  <%= link_to "編集", edit_user_path, :class => "btn btn-success" %>
				  <%= link_to "退会", user_path(@user), method: :delete, "data-confirm" => "本当に退会しますか？", :class => "btn btn-danger" %>
				<% end %>
			</div>
		</div>

		<div class="tertiary">
			<p>総ポイント数</p>
			<%= "#{@user.total(@user.id)}pt" %>
		</div>

        <% if @user.id == current_user.id %>
		<div class="tertiary">
			<p>メールアドレス</p>
			<div class="secondary">
				<p><%= @user.email %></p>
			</div>
		</div>
		<% end %>

        <div class="row">
			<div class="tertiary_sub">
				<div class="col-xs-6">
					<p>質問一覧</p>
					<% @user.questions.order(created_at: :desc).each do |q| %>
					<div class="secondary">
						<%= link_to q.title, question_path(q.id) %>
					</div>
					<% end %>
			    </div>
			</div>

			<div class="tertiary_sub">
				<div class="col-xs-6">
					<p>回答した質問</p>
					<% @user.answers.order(created_at: :desc).each do |a| %>
					<div class="secondary">
						<%= link_to a.question.title, question_path(a.id) %>
					</div>
					<% end %>
			    </div>
			</div>
	    </div>
	</div>
</div>