<!DOCTYPE html>
<html>
  <head>
    <title>EveryLaw</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="container-fluid">
      <% if user_signed_in? %>
        <div class="header_logo">
          <%= image_tag "logo.png", size: "160x120" %>
        </div>
        <div class="header_content">
          <%= link_to "質問一覧", questions_path %>
        </div>
        <div class="header_content">
          <%= link_to "新規質問", new_question_path %>
        </div>
        <div class="header_content">
          <%= link_to "マイページ", user_path(current_user.id) %>
        </div>
        <div class="header_content">
          <%= link_to "問い合わせ", new_contact_path %>
        </div>
        <div class="header_content">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </div>
        <div class="search">
          <%= search_form_for @q do |f| %>
          <%= f.label :"タイトル検索" %>
          <%= f.search_field :title_cont %>
          <%= f.submit %>
          <% end %>
        </div>
      <% else %>
        <div class="header_logo">
          <%= image_tag "logo.png", size: "160x120" %>
        </div>
        <div class="header_content">
          <%= link_to "会員登録", new_user_registration_path %>
        </div>
        <div class="header_content">
          <%= link_to "ログイン", new_user_session_path %>
        </div>
        <div class="header_content">
          <%= link_to "質問一覧", questions_path %>
        </div>
        <div class="header_content">
          <%= link_to "初めての方", user_about_path %>
        </div>
        <div class="header_content">
          <%= link_to "問い合わせ", new_contact_path %>
        </div>
        <div>
          <div class="search">
            <%= search_form_for @q do |f| %>
            <%= f.label :"タイトル検索" %>
            <%= f.search_field :title_cont %>
            <%= f.submit %>
            <% end %>
          </div>
        </div>
      <% end %>
    </header>
    <%= yield %>
    <footer>
      <%= image_tag "logo.png", size: "140x90" %>
    </footer>
  </body>
</html>
